<h1>
    <a href="/">
        <img alt="logo" id="pfp" src="assets/img/projects/pfp.png">
        {{ page.title }}
    </a>
</h1>
<nav class="contacts">
    <ul>
    {% for element in site.data.contact %}
        <li>
            <a href="{{ element.href }}">
                <img src="./assets/img/icons/dark/{{ element.src }}">
                <!--<img class="light-mode-hide" src="./assets/img/icons/dark/{{ element.src }}">
                <img class="dark-mode-hide" src="./assets/img/icons/light/{{ element.src }}">-->
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
