{% if include.href %}
<a href="{{ include.href }}" class="ui-card">
    <img src="{{ include.prefix }}{{ include.src }}" alt="" loading="lazy" />
    <div class="container">
        <b><span id="title">{{ include.title }}</span></b><br>
        <span id="text">{{ include.text }}</span>
    </div>
</a>
{% else %}
<div class="ui-card">
    <img src="{{ include.prefix }}{{ include.src }}" alt="" loading="lazy" />
    <div class="container">
        <b><span id="title">{{ include.title }}</span></b><br>
        <span id="text">{{ include.text }}</span>
    </div>
</div>
{%- endif -%}
