<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <a id="skip" href="#main"><h2>Skip to main content</h2></a>

    <div class="content">
        <header>
            {% include color_row.html %}

            <h1>{{ page.title | escape }}</h1>
            <div id="home-row">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
                  {{ page.date | date: date_format }}
                </time>
                <div>
                <a id="home" href="/">
                    <div>{{ page.author }}</div>
                    <!--<span itemprop="author" itemscope itemtype="http:/*schema.org/Person">
                      <span class="p-author h-card" itemprop="name"></span>
                  </span>-->
                </a>
                </div>
            </div>
        </header>

        <main id="main">
            <article class="post h-entry" itemscope itemtype="http:/*schema.org/BlogPosting">
                {% include anchor_headings.html html=content anchorBody="#" %}
            </article>
        </main>
    </div>

  </body>

</html>
