---
layout: default
---

<div class="content">
    <header>
        {% include color_row.html %}

        <h1>{{ page.title | escape }}</h1>
        <nav>
        <table style="width: 100%;"><tr>
            <td><time datetime="{{ page.date | date_to_xmlschema }}">
                {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
                {{ page.date | date: date_format }}
            </time></td>
            <td><a id="author" href="/">
                {{ page.author }}
            </a></td>
            </tr></table>
        </nav>
    </header>

    <main id="main">
        <article>
            {% include anchor_headings.html html=content anchorBody="#" %}
        </article>
    </main>

    <footer>
        <table style="width: 100%;"><tr>
            {% if page.previous.url %}
            <td><a class="prev" href="{{page.previous.url}}">
                Previous: {{page.previous.title}}
            </a></td>
            {% endif %}

            {% if page.next.url %}
            <td><a class="next" href="{{page.next.url}}">
                Next: {{page.next.title}}
            </a></td>
            {% endif %}
        </tr></table>
    </footer>
</div>
